<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STORED-音乐盒</title>

    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/music/css/zplayer.min.css" th:href="@{/lib/music/css/zplayer.min.css}" />
    <script type="text/javascript" src="../static/lib/music/js/zplayer.min.js" th:src="@{/lib/music/js/zplayer.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>



</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">STORED</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
                <a href="#" target="_blank" th:href="@{/}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" target="_blank" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类</a>
                <a href="#" target="_blank" th:href="@{/archives}" class="m-item item m-mobile-hide"><i class="clock icon"></i>时间轴</a>
                <a href="#" th:href="@{/music}" class="active m-item item m-mobile-hide"><i class="music icon"></i>音乐盒</a>
                <a href="#" target="_blank" th:href="@{/message}" class="m-item item m-mobile-hide"><i class="book icon"></i>留言板</a>
                <a href="#" target="_blank" th:href="@{/friends}" class="m-item item m-mobile-hide"><i class="pencil alternate icon"></i>友人帐</a>
                <a href="#" target="_blank" th:href="@{/picture}" class="m-item item m-mobile-hide"><i class="image icon"></i>照片墙</a>
                <a href="#" target="_blank" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search...." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/music.jpg" th:src="@{/images/music.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">音乐盒</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">是啊，我也喜欢温柔，温暖，以及寻找着相互吸引的东西</div>
        </div>
    </div>
</div>

<div class="ui m-margin- m-opacity" align="center">
    <div class="ui container box-shadow-max">
        <div id="player2"></div>
    </div>
</div>
<script>
    var zp2 = new zplayer({
        element: document.getElementById("player2"),
        lrcStart: 1,/*是否开启歌词功能 ，默认false（为true时musics集合中需要传入lrc字段。）*/
        musics: [
      {
            title: "落在生命里的光",
            author:"尹昔眠",
            url:"http://music.163.com/song/media/outer/url?id=1892562874.mp3",
            pic:"http://p1.music.126.net/UAx4r7pN-53CNbiqQ4CcXQ==/109951166589723188.jpg",
            lrc:"[00:00.000] 作词 : 景尧\n" +
                "[00:00.254] 作曲 : 贰叁伍\n" +
                "[00:00.508] 编曲 : 侯江浩/刘星宇\n" +
                "[00:00.762] 制作人 : 侯江浩\n" +
                "[00:01.16]你是落在我世界里的一束光\n" +
                "[00:05.09]向我奔来 万物都生长\n" +
                "[00:16.44]夜空 缓缓地被点亮\n" +
                "[00:20.57]光晕落在你手上\n" +
                "[00:23.92]晚风 吹开故事篇章\n" +
                "[00:27.95]为你偷偷地酝酿\n" +
                "[00:31.31]感受 你的热泪滚烫\n" +
                "[00:35.36]拥有巨大的力量\n" +
                "[00:38.39]言语 像是长出翅膀\n" +
                "[00:42.44]在我的耳边游荡\n" +
                "[00:46.15]对于你的一切 我无法抵抗\n" +
                "[00:49.83]对于未来 不停止想象\n" +
                "[00:53.56]我会及时到场 无畏乘风破浪\n" +
                "[01:00.26]你是落在我世界里的一束光\n" +
                "[01:04.18]向我奔来 万物都生长\n" +
                "[01:08.07]你的温柔如此地张扬\n" +
                "[01:11.67]也让我如愿以偿\n" +
                "[01:14.96]你是照耀在我生命的一束光\n" +
                "[01:19.07]点点滴滴 都让我向往\n" +
                "[01:22.75]拥有你晴空万里是寻常\n" +
                "[01:26.68]有你的地方 是我唯一的方向\n" +
                "[01:45.26]对于你的一切 我无法抵抗\n" +
                "[01:48.95]对于未来 不停止想象\n" +
                "[01:52.81]我会及时到场 无畏乘风破浪\n" +
                "[01:59.36]你是落在我世界里的一束光\n" +
                "[02:03.29]向我奔来 万物都生长\n" +
                "[02:07.09]你的温柔如此地张扬\n" +
                "[02:10.71]也让我如愿以偿\n" +
                "[02:14.08]你是照耀在我生命的一束光\n" +
                "[02:18.24]点点滴滴 都让我向往\n" +
                "[02:21.93]拥有你晴空万里是寻常\n" +
                "[02:25.73]有你的地方 是我唯一的方向\n" +
                "[02:43.93]你是落在我世界里的一束光\n" +
                "[02:47.55]向我奔来 万物都生长\n" +
                "[02:51.30]你的温柔如此地张扬\n" +
                "[02:55.09]也让我如愿以偿\n" +
                "[02:58.39]你是照耀在我生命的一束光\n" +
                "[03:02.44]点点滴滴 都让我向往\n" +
                "[03:06.11]拥有你晴空万里是寻常\n" +
                "[03:09.98]有你的地方 是我唯一的方向\n" +
                "[03:11.899] 吉他 : 陈麒元\n" +
                "[03:14.700] 和声 : 小手鹅\n" +
                "[03:17.501] 混音工程师 : 何世渝\n" +
                "[03:20.302] 母带工程师 : 何世渝\n" +
                "[03:23.103] 制作统筹 : 陆海海\n" +
                "[03:25.904] 监制 : 何施瑶\n" +
                "[03:28.705] 出品方 : 寻乐工作室\n" +
                "[03:31.506] 营销推广 : 噼里啪啦Studio\n" +
                "[03:34.307] 发行 : 讯飞音乐\n" +
                "[03:37.108] 未经著作权人书面许可，不得以任何方式（包括翻唱、翻录等）使用\n",
        }, {
                title:"错位时空",
                author:"艾辰",
                url:"https://music.163.com/song/media/outer/url?id=1808492017.mp3",
                pic:"http://p2.music.126.net/8C0lwLE88j9ZwLyPQ9a4FA==/109951165595770076.jpg",
                lrc:"[00:00.000] 作词 : 周仁\n" +
                    "[00:01.000] 作曲 : 张博文\n" +
                    "[00:02.000] 编曲 : 陈林\n" +
                    "[00:03.000] 制作人 : 艾辰\n" +
                    "[00:12.51]OP：腾煌星象\n" +
                    "[00:13.51]出品：网易飓风\n" +
                    "[00:15.50]填不满半排观众的电影\n" +
                    "[00:19.12]直到散场时突然亮起灯\n" +
                    "[00:23.03]字幕定格在某某出品和发行\n" +
                    "[00:26.30]我目送 他们行色匆匆\n" +
                    "[00:29.88]像个自不量力的复读生\n" +
                    "[00:33.45]完不成金榜题名的使命\n" +
                    "[00:37.28]命不是猜剪刀石头布的决定\n" +
                    "[00:41.03]那么任性\n" +
                    "[00:44.52]我吹过你吹过的晚风\n" +
                    "[00:48.12]那我们算不算 相拥\n" +
                    "[00:51.73]可如梦初醒般的两手空空\n" +
                    "[00:55.34]心也空\n" +
                    "[00:58.90]我吹过你吹过的晚风\n" +
                    "[01:02.50]是否看过同样 风景\n" +
                    "[01:06.10]像扰乱时差留在错位时空\n" +
                    "[01:09.67]终是空 是空\n" +
                    "[01:30.88]数不完见证许愿的繁星\n" +
                    "[01:34.31]没灵验谁来安慰坏心情\n" +
                    "[01:38.23]十字路口闪烁不停的信号灯\n" +
                    "[01:41.49]有个人 显然心事重重\n" +
                    "[01:45.11]三个字 只能说给自己听\n" +
                    "[01:48.64]仰着头不要让眼泪失控\n" +
                    "[01:52.50]哪里有可以峰回路转的宿命\n" +
                    "[01:56.22]我不想听\n" +
                    "[01:59.80]我吹过你吹过的晚风\n" +
                    "[02:03.36]那我们算不算 相拥\n" +
                    "[02:07.00]可如梦初醒般的两手空空\n" +
                    "[02:10.56]心也空\n" +
                    "[02:13.93]我吹过你吹过的晚风\n" +
                    "[02:17.73]是否看过同样 风景\n" +
                    "[02:21.36]像扰乱时差留在错位时空\n" +
                    "[02:24.84]终是空 是空\n" +
                    "[02:32.10]我吹过你吹过的晚风\n" +
                    "[02:35.65]空气里弥漫着 心痛\n" +
                    "[02:39.23]可我们 最后 在这错位时空\n" +
                    "[02:42.90]终成空\n" +
                    "[02:46.45]我吹过你吹过的晚风\n" +
                    "[02:49.95]空气里弥漫着 心痛\n" +
                    "[02:53.55]可我们 最后 在这错位时空\n" +
                    "[02:57.13]终成空 成空\n" +
                    "[03:02.51]\n" +
                    "[03:03.51]编曲：陈林\n" +
                    "[03:04.51]分轨混音：Mr.鱼\n" +
                    "[03:05.51]制作人：艾辰\n" +
                    "[03:06.51]贝斯：谭玮\n" +
                    "[03:07.51]吉他：望雷\n" +
                    "[03:08.51]监制/统筹：孙斌@子文沐凡\n" +
                    "[03:09.51]贴唱/和声：沙栩帆\n" +
                    "[03:11.51]企划：丁柏昕/袁晓童\n" +
                    "[03:12.51]宣发：徐思灵/苏琦惠\n" +
                    "[03:13.51]出品人：谢奇笛/凌联兴\n" +
                    "[03:14.51]本歌曲来自〖飓风计划〗\n" +
                    "[03:15.51]10亿现金激励，千亿流量扶持！\n" +
                    "[03:16.51]业务联系：jf399@vip.163.com\n"
            },{
            title: "只要平凡",
            author: "张杰/张碧晨",
            url: "http://music.163.com/song/media/outer/url?id=574919767.mp3",
            pic: "http://p1.music.126.net/CjGoliP3xOB0gcCUaeTTBg==/109951163375727336.jpg?param=300x300",
            lrc: "[ti:只要平凡]\n" +
                "[ar:张杰/张碧晨]\n" +
                "[al:只要平凡]\n" +
                "[by:天龙888]\n" +
                "\n" +
                "[00:00.00]只要平凡 - 张杰/张碧晨\n" +
                "[00:01.00]\n" +
                "[00:02.54]电影《我不是药神》主题曲\n" +
                "[00:03.00]作词：格格\n" +
                "[00:03.50]作曲：黄超\n" +
                "[00:04.39]\n" +
                "[00:04.86]也许很远或是昨天\n" +
                "[00:08.56]在这里或在对岸\n" +
                "[00:12.48]长路辗转离合悲欢\n" +
                "[00:16.67]人聚又人散\n" +
                "[00:20.62]放过对错才知答案\n" +
                "[00:25.14]活着的勇敢\n" +
                "[00:28.75]没有神的光环\n" +
                "[00:33.19]你我生而平凡\n" +
                "[00:36.51]\n" +
                "[00:37.89]在心碎中认清遗憾\n" +
                "[00:41.55]生命漫长也短暂\n" +
                "[00:45.40]跳动心脏长出藤蔓\n" +
                "[00:49.60]愿为险而战\n" +
                "[00:53.49]跌入灰暗坠入深渊\n" +
                "[00:58.04]沾满泥土的脸\n" +
                "[01:01.88]没有神的光环\n" +
                "[01:06.22]握紧手中的平凡\n" +
                "[01:10.18]此心此生无憾\n" +
                "[01:14.66]生命的火已点燃\n" +
                "[01:17.66]\n" +
                "[01:19.10]有一天也许会走远\n" +
                "[01:24.77]也许还能再相见\n" +
                "[01:28.82]无论在人群在天边\n" +
                "[01:33.23]让我再看清你的脸\n" +
                "[01:37.00]任泪水铺满了双眼\n" +
                "[01:42.01]虽无言泪满面\n" +
                "[01:45.79]不要神的光环\n" +
                "[01:49.72]只要你的平凡\n" +
                "[01:53.40]\n" +
                "[01:54.79]音乐制作人：黄超\n" +
                "[01:55.41]编曲：黄超\n" +
                "[01:56.26]吉他：黄超\n" +
                "[01:57.01]单簧管：刘峤\n" +
                "[01:57.82]和音编写：黄超\n" +
                "[01:58.57]和音演唱：张杰 张碧晨\n" +
                "[01:59.31]人声录音师：汝文博 ,朱玉婷\n" +
                "[02:00.05]录音工作室：BIG.J Studio,香蕉计划录音棚\n" +
                "[02:00.71]混音师：周天澈\n" +
                "[02:01.36]母带工程师：周天澈\n" +
                "[02:02.05]母带工作室：TC Faders\n" +
                "[02:02.73]\n" +
                "[02:39.88]在心碎中认清遗憾\n" +
                "[02:43.57]生命漫长也短暂\n" +
                "[02:48.05]跳动心脏长出藤蔓\n" +
                "[02:51.85]愿为险而战\n" +
                "[02:56.06]跌入灰暗坠入深渊\n" +
                "[02:59.98]沾满泥土的脸\n" +
                "[03:03.86]没有神的光环\n" +
                "[03:08.28]握紧手中的平凡\n" +
                "[03:11.85]\n" +
                "[03:12.79]有一天也许会走远\n" +
                "[03:16.57]也许还能再相见\n" +
                "[03:20.54]无论在人群在天边\n" +
                "[03:24.84]让我再看清你的脸\n" +
                "[03:29.01]任泪水铺满了双眼\n" +
                "[03:33.22]虽无言泪满面\n" +
                "[03:37.01]不要神的光环\n" +
                "[03:41.59]只要你的平凡\n" +
                "[03:45.78]此心此生无憾\n" +
                "[03:49.64]生命的火已点燃\n" +
                "[03:52.88]\n" +
                "[03:53.55]lrc歌词编辑：天龙 QQ：26092798"
         },
            //{
        //     title: "我从崖边跌落",
        //     author: "谢春花",
        //     url: "http://music.163.com/song/media/outer/url?id=415086030.mp3",
        //     pic: "http://p2.music.126.net/Eg4cy0_HIF2nrX2gMCsWkQ==/17967119509636556.jpg?param=300y300",
        //     lrc: "[00:00.000] 作曲 : 谢春花\n" +
        //         "[00:01.000] 作词 : 谢春花\n" +
        //         "[00:03.48]编曲：小皮\n" +
        //         "[00:04.04]我从崖边跌落\n" +
        //         "[00:06.49]落入星空辽阔\n" +
        //         "[00:08.96]银河不清不浊\n" +
        //         "[00:11.33]不知何以摆脱\n" +
        //         "[00:13.72]我从崖边跌落\n" +
        //         "[00:16.13]落入丛山万座\n" +
        //         "[00:18.54]呼声不烈不弱\n" +
        //         "[00:20.96]梦门何故紧锁\n" +
        //         "[00:26.78]谁引我入明火\n" +
        //         "[00:29.00]谁推我入筐箩\n" +
        //         "[00:31.44]谁割去我耳朵\n" +
        //         "[00:33.85]谁圈我以绳索\n" +
        //         "[00:36.17]谁耻笑我执着\n" +
        //         "[00:38.60]谁把岁月蹉跎\n" +
        //         "[00:41.00]谁碾碎了泡沫\n" +
        //         "[00:43.74]谁心已成魔\n" +
        //         "[00:49.76]撕破 我从崖边跌落\n" +
        //         "[00:59.26]为何 是梦还是解脱\n" +
        //         "[01:09.00]我从崖边跌落\n" +
        //         "[01:11.32]落入星空辽阔\n" +
        //         "[01:13.77]银河不清不浊\n" +
        //         "[01:16.13]不知何以摆脱\n" +
        //         "[01:18.55]我从崖边跌落\n" +
        //         "[01:20.97]落入丛山万座\n" +
        //         "[01:23.40]呼声不烈不弱\n" +
        //         "[01:25.74]梦门何故紧锁\n" +
        //         "[01:53.12]谁低头只沉默\n" +
        //         "[01:55.34]谁迟疑难定夺\n" +
        //         "[01:57.67]谁把美梦捕捉\n" +
        //         "[01:59.99]谁将画卷涂抹\n" +
        //         "[02:02.43]谁结束这折磨\n" +
        //         "[02:04.67]谁轻柔的抚摸\n" +
        //         "[02:07.08]谁纵身入湖泊\n" +
        //         "[02:09.56]换温暖魂魄\n" +
        //         "[02:15.44]我从崖边跌落\n" +
        //         "[02:17.79]落入星空辽阔\n" +
        //         "[02:20.15]银河不清不浊\n" +
        //         "[02:22.47]不知何以摆脱\n" +
        //         "[02:24.79]我从崖边跌落\n" +
        //         "[02:27.12]落入丛山万座\n" +
        //         "[02:29.47]呼声不烈不弱\n" +
        //         "[02:31.78]梦门何故\n" +
        //         "[02:36.57]我从崖边跌落\n" +
        //         "[02:38.81]落入星空辽阔\n" +
        //         "[02:41.11]银河不清不浊\n" +
        //         "[02:43.42]不知何以摆脱\n" +
        //         "[02:45.78]我从崖边跌落\n" +
        //         "[02:48.08]落入丛山万座\n" +
        //         "[02:50.47]呼声不烈不弱\n" +
        //         "[02:52.75]梦门何故紧锁\n" +
        //         "[03:01.22]谁引我入明火\n" +
        //         "[03:04.17]谁推我入筐箩\n" +
        //         "[03:07.09]谁把美梦捕捉\n" +
        //         "[03:10.20]谁心已成魔\n" +
        //         "[03:18.80]"
        // },{
        //     title: "遥远的你",
        //     author: "不靠谱组合",
        //     url: "http://music.163.com/song/media/outer/url?id=1333192765.mp3",
        //     pic: "http://p1.music.126.net/j_MOk-u1iEtYWHs-QId41Q==/109951163703802494.jpg?param=300y300",
        //     lrc: "[00:00.000] 作曲 : 王明明\n" +
        //         "[00:00.015] 作词 : 王明明/李亚然\n" +
        //         "[00:00.46]编曲：明锐\n" +
        //         "[00:02.08]七月的风 八月的雨\n" +
        //         "[00:05.76]卑微的我喜欢遥远的你\n" +
        //         "[00:10.37]你的过去 无法参与\n" +
        //         "[00:16.29]但我还是 喜欢你\n" +
        //         "[00:23.36]\n" +
        //         "[00:31.31]眼角闪起的泪光\n" +
        //         "[00:34.96]无边无际地游荡\n" +
        //         "[00:39.02]眉下的一记荒唐\n" +
        //         "[00:43.18]庸俗地写在脸上\n" +
        //         "[00:47.31]犹如一缕阳光\n" +
        //         "[00:51.27]但却觉得感伤\n" +
        //         "[00:55.77]记忆挥散不去\n" +
        //         "[00:59.61]却藏进了 我的诗句\n" +
        //         "[01:07.09]七月的风 八月的雨\n" +
        //         "[01:10.99]卑微的我喜欢遥远的你\n" +
        //         "[01:15.09]你还未来 怎敢老去\n" +
        //         "[01:19.29]未来的我和你奉陪到底\n" +
        //         "[01:23.37]你若同意 我一定去\n" +
        //         "[01:27.46]可你并不在意我的出席\n" +
        //         "[01:31.44]你的过去 无法参与\n" +
        //         "[01:36.50]但我还是 喜欢你\n" +
        //         "[01:43.88]\n" +
        //         "[02:04.96]我有一把钥匙\n" +
        //         "[02:08.83]能解开你的故事\n" +
        //         "[02:12.79]单纯的像个孩子\n" +
        //         "[02:16.73]偏藏进了 我的诗句\n" +
        //         "[02:24.46]七月的风 八月的雨\n" +
        //         "[02:28.29]卑微的我喜欢遥远的你\n" +
        //         "[02:32.48]你还未来 怎敢老去\n" +
        //         "[02:36.61]未来的我和你奉陪到底\n" +
        //         "[02:40.59]你若同意 我一定去\n" +
        //         "[02:44.65]可你并不在意我的出席\n" +
        //         "[02:48.77]你的过去 无法参与\n" +
        //         "[02:53.59]但我还是 喜欢你\n" +
        //         "[03:01.87]但我还是 喜欢你\n" +
        //         "[03:11.973]\n" +
        //         "[03:15.673] 制作人：明锐\n" +
        //         "[03:16.374] 混音：廖国钺\n" +
        //         "[03:17.057] 吉他：齐成刚\n" +
        //         "[03:17.723] 和声编写：廖国钺\n" +
        //         "[03:18.407] 和声：不靠谱组合\n" +
        //         "[03:19.140] 监制：张雯杰\n" +
        //         "[03:19.862] 制作公司：Hikoon Music\n" +
        //         "[03:20.573] 发行公司：鲸鱼向海（北京）文化有限公司\n"
        //
        // },{
        //     title: "尘土",
        //     author: "安朕宇",
        //     url: "http://music.163.com/song/media/outer/url?id=865021614.mp3",
        //     pic: "http://p1.music.126.net/ssXglUifx_l0Ncv6dORQWQ==/109951163402130495.jpg?param=300y300",
        //     lrc: "[00:00.000] 作曲 : 安朕宇\n" +
        //         "[00:01.000] 作词 : 安朕宇\n" +
        //         "[00:17.88]我从未想过我会高傲的存在\n" +
        //         "[00:21.16]只想放低姿态 欣赏你 每天的自拍\n" +
        //         "[00:25.88]灯光下你不能忽视 我的占据\n" +
        //         "[00:29.97]每次散场 我也只能悄悄的离开\n" +
        //         "[00:33.99]你伸出双手每次我都看得见\n" +
        //         "[00:37.50]我过去热情围绕你却 视而不见\n" +
        //         "[00:41.94]到最后我才明白只是 透明存在\n" +
        //         "[00:45.67]证明着陪伴才是我最深情告白\n" +
        //         "[00:51.46]即使一粒尘土 我也要漫天飞舞\n" +
        //         "[00:55.44]从我的角度审视你的世界的孤独\n" +
        //         "[00:59.27]任凭 疾风暴雨 再三凌辱\n" +
        //         "[01:03.85]围绕着你 是来到这个人间的意义\n" +
        //         "[01:07.66]即使一粒尘土 我也要漫天飞舞\n" +
        //         "[01:10.94]用我的生命证明其实你并不孤独\n" +
        //         "[01:15.35]任凭 疾风暴雨 再三凌辱\n" +
        //         "[01:19.84]用我的方式 证明着自己的幸福\n" +
        //         "[01:39.93]我从未想过我会高傲的存在\n" +
        //         "[01:43.29]只想放低姿态 欣赏你 每天的自拍\n" +
        //         "[01:47.57]灯光下你不能忽视 我的占据\n" +
        //         "[01:51.54]每次散场 我也只能悄悄的离开\n" +
        //         "[01:55.71]你伸出双手每次我都看得见\n" +
        //         "[01:59.48]我过去热情围绕你却 视而不见\n" +
        //         "[02:03.42]到最后我才明白只是 透明存在\n" +
        //         "[02:07.34]证明着陪伴才是我最深情告白\n" +
        //         "[02:13.00]即使一粒尘土 我也要漫天飞舞\n" +
        //         "[02:17.03]从我的角度审视你的世界的孤独\n" +
        //         "[02:21.01]任凭 疾风暴雨 再三凌辱\n" +
        //         "[02:25.44]围绕着你 是来到 这个人间的意义\n" +
        //         "[02:29.07]即使一粒尘土 我也要漫天飞舞\n" +
        //         "[02:32.69]用我的生命证明其实你并不孤独\n" +
        //         "[02:36.91]任凭 疾风暴雨 再三凌辱\n" +
        //         "[02:41.45]用我的方式 证明着自己的幸福\n" +
        //         "[03:01.31]我从未想过我会高傲的离开\n" +
        //         "[03:04.93]直到朋友圈看到你们幸福的节拍\n" +
        //         "[03:09.55]有天他会牵你的手 步入教堂\n" +
        //         "[03:13.58]那时我会带微笑 祝福着 被风 吹散\n" +
        //         "[03:22.12]不孤独\n" +
        //         "[03:25.45]不清楚\n" +
        //         "[03:29.58]不会哭 哦\n"
        // },{
        //     title: "夜来故事多",
        //     author: "RAiNBOW计划",
        //     url: "http://music.163.com/song/media/outer/url?id=35625826.mp3",
        //     pic: "http://p1.music.126.net/W_srVOtG_DKS1-txPLqNQQ==/3273246117001205.jpg?param=300y300",
        //     lrc: "[00:00.000] 作曲 : 林展秋\n" +
        //         "[00:01.000] 作词 : 林展秋\n" +
        //         "[00:06.31]演唱：陈樱梓\n" +
        //         "[00:07.41]编曲：雷雨心/朱沁怡\n" +
        //         "[00:08.35]制作人：林展秋\n" +
        //         "[00:09.60]钢琴：雷雨心\n" +
        //         "[00:11.04]录音师：周龙\n" +
        //         "[00:12.33]录音室：第三弦音乐工作室\n" +
        //         "[00:13.32]混音师：周龙\n" +
        //         "[00:14.51]混音室：起点音乐Origin Music\n" +
        //         "[00:15.38]歌词制作：王智杰\n" +
        //         "[00:16.23]\n" +
        //         "[00:24.35]这时代脚步仓促 无论贫富 都在赶路\n" +
        //         "[00:31.35]有时候分不清楚 阑珊的是意兴 还是灯火\n" +
        //         "[00:42.35]一扇门窗一把锁 一人一本故事书\n" +
        //         "[00:48.48]你有多久用苦笑代替了哭\n" +
        //         "[00:53.69]人前的欢颜 有多少发自肺腑\n" +
        //         "[01:00.35]是数不胜数 还是屈指可数\n" +
        //         "[01:04.92]\n" +
        //         "[01:05.32]超载的是行囊 负荷的脑容量\n" +
        //         "[01:11.07]蒙尘的肉身和欲望 多不堪\n" +
        //         "[01:16.85]一刻不晴朗 便对自己为难\n" +
        //         "[01:22.04]要到几时方觉察 阴影底下 才得乘凉\n" +
        //         "[01:28.26]\n" +
        //         "[01:28.94]洗掉今日的污染 留给明天再弄脏\n" +
        //         "[01:34.60]多少次在花洒下才卸了妆\n" +
        //         "[01:39.94]明明门窗灯都关上 缄口的心却突然\n" +
        //         "[01:46.57]在此刻长出了嘴巴\n" +
        //         "[01:50.75]\n" +
        //         "[01:51.57]除非你不曾一个人 在夜深\n" +
        //         "[01:57.16]否则你怎么可能 逃过心事的追问\n" +
        //         "[02:03.01]委屈了自己躯壳 又成全了什么\n" +
        //         "[02:08.82]夜来故事多的 让人慌神\n" +
        //         "[02:14.54]\n" +
        //         "[02:14.92]除非你不曾一个人 在夜深\n" +
        //         "[02:20.29]否则你怎么可能 不偶遇你的灵魂\n" +
        //         "[02:26.42]往事莫追 它只是一路跟\n" +
        //         "[02:32.00]动词千万种 而今才懂得\n" +
        //         "[02:37.99]浮现和回响 最是折磨人\n" +
        //         "[02:43.40]\n" +
        //         "[03:06.80]谁眼波如文火 煎沸暧昧的错\n" +
        //         "[03:12.61]蒸发出空虚和寂寞 求寄托\n" +
        //         "[03:18.14]都想要浅尝 又为何虎咽\n" +
        //         "[03:24.02]速食的甜言 是比长情 不需要咀嚼\n" +
        //         "[03:29.70]\n" +
        //         "[03:29.88]所谓聚散的滋味 也有了几番体会\n" +
        //         "[03:35.69]只要拿记忆 不在夜深里翻箱倒柜\n" +
        //         "[03:41.41]又何妨把自己麻醉 翻江倒海的胃\n" +
        //         "[03:47.13]说得好既往不咎 无关勇敢和惭愧\n" +
        //         "[03:53.07]但到要原谅自己 又有几个真的无畏\n" +
        //         "[04:02.72]\n" +
        //         "[04:03.44]除非你不曾一个人 在夜深\n" +
        //         "[04:10.19]否则你怎么可能 逃过心事的追问\n" +
        //         "[04:16.07]委屈了自己躯壳 又成全了什么\n" +
        //         "[04:21.97]夜来故事多的 叫人慌神\n" +
        //         "[04:27.63]\n" +
        //         "[04:27.84]除非你不曾一个人 在夜深\n" +
        //         "[04:33.41]否则你怎么可能 不偶遇你的灵魂\n" +
        //         "[04:39.93]往事莫追 它只是一路跟\n" +
        //         "[04:45.28]动词千万种 而今才懂得\n" +
        //         "[04:51.05]浮现和回响 最是折磨人\n" +
        //         "[04:56.89]夜来故事怎叫人 不心疼\n" +
        //         "[05:02.83]\n"
        // },
            {
            title: "世间美好与你环环相扣",
            author: "柏松",
            url: "http://music.163.com/song/media/outer/url?id=1363948882.mp3",
            pic: "http://p2.music.126.net/DK1_4sP_339o5rowMdPXdw==/109951164071024476.jpg?param=300x300",
            lrc: "[00:00.000] 作曲 : 柏松\n" +
                "[00:01.000] 作词 : 尹初七\n" +
                "[00:15.854]编曲：彭圣杰\n" +
                "[00:28.354]偏偏秉烛夜 游\n" +
                "[00:31.354]午夜星辰 似奔走之友\n" +
                "[00:34.854]爱你每个结痂伤口\n" +
                "[00:37.854]酿成的陈年烈酒\n" +
                "[00:41.104]\n" +
                "[00:42.104]入喉尚算可口\n" +
                "[00:45.103]怎么泪水 还偶尔失守\n" +
                "[00:48.853]邀你细看心中缺口\n" +
                "[00:51.353]裂缝中留存 温柔\n" +
                "[00:56.104]\n" +
                "[00:57.853]此时已莺飞草长 爱的人正在路上\n" +
                "[01:02.103]我知他风雨兼程 途经日暮不赏\n" +
                "[01:05.853]穿越人海 只为与你相拥\n" +
                "[01:11.853]此刻已皓月当空 爱的人手捧星光\n" +
                "[01:15.603]我知他乘风破浪 去了黑暗一趟\n" +
                "[01:19.353]感同身受 给你救赎热 望\n" +
                "[01:25.602]\n" +
                "[01:26.353]知道你不能 还要你感受\n" +
                "[01:30.102]让星光加了一点彩虹\n" +
                "[01:33.102]让樱花偷偷 吻你额头\n" +
                "[01:36.853]让世间美好 与你环环相扣\n" +
                "[01:41.603]\n" +
                "[01:42.352]此时已莺飞草长 爱的人正在路上\n" +
                "[01:46.602]我知他风雨兼程 途经日暮不赏\n" +
                "[01:50.602]穿越人海 只为与你相拥\n" +
                "[01:56.102]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:00.102]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:04.352]感同身受 给你救赎热 望\n" +
                "[02:09.352]\n" +
                "[02:09.852]此时已莺飞草长 爱的人正在路上\n" +
                "[02:13.851]我知他风雨兼程 途经日暮不赏\n" +
                "[02:18.102]穿越人海 只为与你相拥\n" +
                "[02:23.602]此刻已皓月当空 爱的人手捧星光\n" +
                "[02:27.851]我知他乘风破浪 去了黑暗一趟\n" +
                "[02:31.852]感同身受 给你救赎热 望\n" +
                "[02:37.352]\n" +
                "[02:38.601]知道你不能 还要你感受\n" +
                "[02:41.601]让星光加了一点彩虹\n" +
                "[02:45.101]当樱花开的纷纷扬扬\n" +
                "[02:48.602]当世间美好 与你环环相扣\n" +
                "[02:58.601]特别鸣谢：槿葵，我们的海报制作妹妹。\n" +
                "[03:05.854]原唱：柏松\n" +
                "[03:06.355]吉他：柏松\n" +
                "[03:07.354]和声：柏松\n" +
                "[03:08.104]录音：柏松\n" +
                "[03:09.104]混音：张强\n"
        },{
            title: "云烟成雨",
            author: "房东的猫",
            url: "http://music.163.com/song/media/outer/url?id=513360721.mp3",
            pic: "http://p1.music.126.net/DSTg1dR7yKsyGq4IK3NL8A==/109951163046050093.jpg?param=300x300",
            lrc: "[00:00] 作曲 : 少年佩\n[00:01] 作词 : 墨鱼丝\n[00:11]制作人：黎偌天\n[00:12]编曲：黎偌天\n[00:13]监制：李纤橙\n[00:14]\n[00:18]你的晚安 是下意识的恻隐\n[00:24]我留至夜深 治疗失眠梦呓\n[00:30]那封手写信 留在行李箱底\n[00:36]来不及 赋予它旅途的意义\n[00:43]若一切 都已云烟成雨\n[00:49]我能否 变成淤泥\n[00:52]再一次 沾染你\n[00:55]若生命 如过场电影\n[01:01]Oh让我再一次 甜梦里惊醒\n[01:13]我多想再见你\n[01:15]哪怕匆匆一眼就别离\n[01:19]路灯下昏黄的剪影\n[01:22]越走越漫长的林径\n[01:25]我多想再见你\n[01:28]至少玩笑话还能说起\n[01:32]街巷初次落叶的秋分\n[01:35]渐行渐远去的我们\n[01:53]若一切 都已云烟成雨\n[01:59]我能否 变成淤泥\n[02:01]再一次 沾染你\n[02:05]若生命 如过场电影\n[02:10]Oh让我再一次 甜梦里惊醒\n[02:19]我多想再见你\n[02:21]哪怕匆匆一眼就别离\n[02:26]路灯下昏黄的剪影\n[02:28]越走越漫长的林径\n[02:32]我多想再见你\n[02:34]至少玩笑话还能说起\n[02:38]街巷初次落叶的秋分\n[02:41]渐行渐远去的我们\n[02:49]站台 汽笛响起\n[02:52]想念是你的声音\n[02:55]我们提着过去 走入人群\n[03:02]寻找着一个位置 安放自己\n[03:13]我多想再见你\n[03:15]哪怕匆匆一眼就别离\n[03:19]路灯下昏黄的剪影\n[03:22]越走越漫长的林径\n[03:25]我多想再见你\n[03:28]至少玩笑话还能说起\n[03:31]街巷初次落叶的秋分\n[03:35]渐行渐远去的我们\n[03:41]\n[03:43]主唱：红鼻子小黑\n[03:44]制作人：黎偌天\n[03:46]监制：李纤橙\n"
        }]
    })
    zp2.init();

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>
